<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search
        </mat-panel-title>
        <mat-panel-description>
          Input parameras for search
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput [(ngModel)]="placeSearch.name" placeholder="Place name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="placeSearch.address" placeholder="Place address">
      </mat-form-field>
      <mat-action-row>
        <button mat-raised-button color="accent" (click)="search()">Search</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-form-field class="details">
    <mat-label>Sort by</mat-label>
    <mat-select [(ngModel)]="placeSearch.sortBy" (selectionChange)='search()'>
      <mat-option *ngFor="let sort of sorts" [value]="sort.id">
        {{sort.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="details">
    <mat-label>Order</mat-label>
    <mat-select [(ngModel)]="placeSearch.ascending" (selectionChange)='search()'>
      <mat-option *ngFor="let order of orders" [value]="order.id">
        {{order.name}}
        {{order.address}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="details">
    <mat-label>Size of page</mat-label>
    <mat-select [(ngModel)]="placeSearch.sizeOfPage" (selectionChange)='search()'>
      <mat-option *ngFor="let size of sizes" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  