.right{
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
}

.wrapper {
  overflow:auto; 
}

mat-form-field, mat-checkbox, button, h1, h2, small {
  width: 95%;
  margin-left: 1%;
}

button {
  margin-bottom: 5px;
}

.down {
  width: 31%;
  margin: 1%;
}