<div class="main-container">
    <form [formGroup]="addEventForm" (ngSubmit)="onSubmit(addEventForm.value)" 
        enctype="multipart/form-data" 
        method="POST"
        class="form-container"
    >

      <mat-form-field>
        <input matInput id="name" type="text" formControlName="name" placeholder="Name">
        <div *ngIf="submitted && form.name.errors">
            <div *ngIf="form.name.errors.required">Name is required</div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput id="description" formControlName="description" placeholder="Description"></textarea>
        <div *ngIf="submitted && form.description.errors">
            <div *ngIf="form.description.errors.required">Description is required</div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-select id="eventType" formControlName="eventType" placeholder="Choose event type...">
          <mat-option value="1">Concert</mat-option>
          <mat-option value="2">Drama</mat-option>
          <mat-option value="3">Opera</mat-option>
        </mat-select>
        <div *ngIf="submitted && form.eventType.errors">
            <div *ngIf="form.eventType.errors.required">Type is required</div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input 
            matInput
            id="fromDate"
            formControlName="fromDate" 
            placeholder="Choose start date..."
            [matDatepicker]="fromDatePicker"
        >
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input 
            matInput
            id="toDate"
            formControlName="toDate" 
            placeholder="Choose end date..."
            [matDatepicker]="toDatePicker"
        >
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select id="place" formControlName="place" placeholder="Choose event place..."
        (selectionChange)="renderHalls($event)">
            <mat-option value={{place.id}} *ngFor="let place of places">{{place.name}}</mat-option>
        </mat-select>
        <div *ngIf="submitted && form.eventType.errors">
            <div *ngIf="form.eventType.errors.required">Place is required</div>
        </div>
      </mat-form-field>

        

        <span *ngFor="let hall of selectedPlaceHalls">
            <mat-checkbox name="halls[]" (change)="onHallsCheckboxChange($event, hall)">
                {{hall.name}}
            </mat-checkbox>
        </span>

        <div>
            <select id="place" formControlName="place" (change)="renderSectors($event)" *ngIf="selectedHalls.length > 0">
                <option value={{hall.id}} *ngFor="let hall of selectedHalls">{{hall.name}}</option>
            </select>
        </div>

        Sectors
        <div *ngFor="let sector of selectedHallSectors">
            <div *ngIf="isSectorSelected(sector.id)">
                <input value={{sector.id}} type="checkbox" name="sectors[]" (change)="onSectorCheckboxChange($event)"
                checked>
            </div>
            <div *ngIf="!isSectorSelected(sector.id)">
                <input value={{sector.id}} type="checkbox" name="sectors[]" (change)="onSectorCheckboxChange($event)">
            </div>
            <label>{{sector.name}}</label>
        </div>

        <input type="file" id="file" (change)="selectFile($event)" value="+">

        <div>
            <label for="ticketPrice"> Ticket price </label><br/>
            <input id="ticketPrice" type="text" formControlName="ticketPrice">
            <div *ngIf="submitted && form.ticketPrice.errors">
                <div *ngIf="form.ticketPrice.errors.required">Ticket price is required</div>
            </div>
        </div>

        <br/>
        <button class="button" type="submit">Register</button>
    </form>

</div>
