<form  #addSector="ngForm" (ngSubmit)="add()">
  <div *ngFor="let s of sectors; let i = index" [attr.data-index]="i">
    <h1>Add sector {{i + 1}}:</h1>
    <div>
        <mat-form-field>
          <input matInput type="text" required #sname='ngModel'
          [(ngModel)]="s.name" name="sname{{i}}" placeholder="Sector name" class="form-control">
        </mat-form-field>
        <small *ngIf="sname.invalid && (sname.dirty || sname.touched)">Please enter sector name</small>
      </div>
      <div>
        <mat-checkbox name="parter"[(ngModel)]="checked[i]" (click)="parterre(i)">Parter</mat-checkbox>
      </div>
      <div *ngIf="!checked[i]">
        <mat-form-field>
          <input matInput type="number" required #srows='ngModel'
          [(ngModel)]="s.sectorRows" name="srows{{i}}" placeholder="Sector rows" class="form-control">
        </mat-form-field>
        <small *ngIf="srows.invalid && (srows.dirty || srows.touched)">Please enter number of sector rows</small>
      </div>
      <div *ngIf="!checked[i]">
        <mat-form-field>
          <input matInput type="number" required #scol='ngModel'
          [(ngModel)]="s.sectorColumns" name="scol{{i}}" placeholder="Sector columns" class="form-control">
        </mat-form-field>
        <small *ngIf="scol.invalid && (scol.dirty || scol.touched)">Please enter number of sector columns</small>
      </div>
  </div>
  <button mat-raised-button color="accent" type="button" (click)="addOneMoreSector()">Add new sector</button>
  <button mat-raised-button color="accent" type="submit" [disabled]="addSector.invalid">Save sector</button>
  <button mat-raised-button color="accent" type="button" (click)="cancel()">Back</button>
</form>
 