<div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <input matInput placeholder="Old Password" type="password" formControlName="oldPassword">
            </mat-form-field>
            <div class="error" *ngIf="passwordForm.oldPassword?.errors">
                <div *ngIf="passwordForm.oldPassword?.errors.required">Old Password is required</div>
                <div *ngIf="passwordForm?.oldPassword?.errors.badOldPassword">Old Password incorect</div>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="New Password" type="password" formControlName="password1">
            </mat-form-field>
            <div class="error" *ngIf="passwordForm.password1?.errors">
                <div *ngIf="passwordForm.password1?.errors.required">New Password is required</div>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="password" placeholder="New Password" formControlName="password2">
            </mat-form-field>
            <div class="error" *ngIf="passwordForm.password2?.errors">
                <div *ngIf="passwordForm.password2?.errors.required">New Password is required</div>
                <div *ngIf="passwordForm.errors?.passwordsNotMatch &&
                 (passwordForm.touched || passwordForm.dirty)"
                        class="cross-validation-error-message alert alert-danger">
                    New passwords must match
                </div>
            </div>
        </div>
        <p>
            <button mat-raised-button color="accent"
                type="submit" [disabled]="passwordForm?.invalid">Save</button>
        </p>
    </form>
</div>
