<mat-toolbar color="primary" class="navbar">
    <div class="name">Events</div>
    <div>
        <a routerLink="/login" routerLinkActive="active" mat-button color="accent">Sign in</a>
        <a routerLink="/logout" routerLinkActive="active" mat-button color="accent">Sign out</a>
        <a routerLink="/register" routerLinkActive="active" mat-button color="accent">Register</a>
        <a routerLink="/profile" routerLinkActive="active" mat-button color="accent">My profile</a>
    </div>
</mat-toolbar>
