.form-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    margin: 100px;
    margin-top: 50px !important;
}

.hall-chooser {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sectors-chooser {
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.sector-selection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-field {
    background-color: #E0F2F1;
    padding: 10px;
}

mat-form-field {
    margin-left: 10px;
}

.datetime {
    width: 32%;
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}