<div class="main" *ngIf="hall">
  <form class="addPlace-form" [formGroup]="updateHall" (ngSubmit)="update()">
  <h1>Update hall:</h1>
    <mat-form-field class="addPlace-full-width">
      <input matInput [(ngModel)]="hall.name" name="name" placeholder="Hall name" formControlName="name">
    </mat-form-field>
    <div *ngIf="(updateHall.controls.name.touched && updateHall.controls.name.errors?.required)">
      Please enter your data!
    </div>
    <button mat-raised-button color="accent" type="submit" [disabled]="updateHall.invalid">Update hall</button>
    <button mat-raised-button color="accent" (click)="cancel()">Back</button>
  </form>
</div>