<div  *ngIf="place">
  <form #updatePlace="ngForm" (ngSubmit)="update()" novalidate>
    <h1>Update place:</h1>
    <div>
      <mat-form-field>
        <input matInput type="text" required #name='ngModel'
        [(ngModel)]="place.name" name="name" placeholder="Place name" class="form-control">
      </mat-form-field>
      <small *ngIf="name.invalid && (name.dirty || name.touched)">Please enter place name</small>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" required #address='ngModel'
        [(ngModel)]="place.address" name="address" placeholder="Place address" class="form-control">
      </mat-form-field>
      <small *ngIf="address.invalid && (address.dirty || address.touched)">Please enter place address</small>
    </div>
    <button mat-raised-button color="accent" type="submit" [disabled]="updatePlace.form.invalid">Update place</button>
  </form>
</div>

  
  
 

  


